{% extends 'base.html' %}
{% load static %}

{% block title %}Analysis - {{ document.file_name }}{% endblock %}


<script src="{% static 'assets/js/scripts.js' %}"></script>
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2>Analysis of {{ document.file_name }}</h2>
            <p class="text-muted">Uploaded: {{ document.uploaded_at|date:"F j, Y" }}</p>
        </div>
        
        <div class="card-body">
            {% if error is not None %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            
            <div class="row">
                <div class="col-md-6">
                    <h4>Extracted Text</h4>
                    <div class="extracted-text-container" style="max-height: 500px; overflow-y: auto;">
                        {% if extracted_text %}
                            <pre>{{ extracted_text }}</pre>
                        {% else %}
                            <p class="text-danger">No text could be extracted from this document</p>
                        {% endif %}
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>


{% endblock %}