{% load static %}
<!-- FOOTER (inside the content) -->
<footer class="techwave_fn_footer">
    <div class="techwave_fn_footer_content">
        <div class="copyright">
            <p>2023© Frenify Team</p>
        </div>
        <div class="menu_items">
            <ul>
                <li><a href="{% url 'documentationPage' %}">Terms of Service</a></li>
                <li><a href="{% url 'faqPage' %}">Privacy Policy</a></li>
                <li><a href="{% url 'indexPage' %}">Home</a></li>
                <li><a href="{% url 'contactPage' %}">Contact</a></li>
                <li><a href="{% url 'signInPage' %}">Sign In</a></li>
                <li><a href="{% url 'signUpPage' %}">Sign Up</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- !FOOTER (inside the content) -->